body, .app-content {
  background-color: #eee;
  max-height: 100%;
}

.toolbar {
  /* Lighter blue than the usual toolbar colour. */
  background-color: rgb(50,109,230) !important;
}

.toolbar-text {
  color: rgb(255, 255, 255) !important;
  font-weight: 500 !important;
}
